

body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #f9f7f7;
}

h1{
  margin-top:2.6rem;
  margin-bottom:-1rem;
  font-size: 4rem;
  color:#112d4e;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#112d4e;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color:#3f72af;
}

a{
  color:#f9f7f7;
  margin: 50px;
  text-decoration: none;
}

a:hover{
  color:#112d4e;
}

p{
    line-height: 2;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #dbe2ef;
    border-width: 1rem;
    width: 10%;
}

.top-container{
  background: #dbe2ef;
  position:relative;
  padding-top: 10rem;
}

.pro{
  text-decoration: underline;
}

.middle-container{
  margin-bottom: 50px;
}

.profile{
    width:100%;
    margin: 50px auto;
}

.intro{
  width:30%;
  margin:auto;
}

.bottom-cloud{
  position:absolute;
}

.top-cloud{
  position:absolute;
  right:30%;
  top:10%;
}

.skills{
  margin-top: 50px;
}

.skill-row{
  width:50%;
  margin: 100px auto;
  text-align: left;
  font-size: 1.2rem;
}

.get_in_touch_text{
  width:30%;
  margin:auto;
  margin-bottom: 50px;
}

.btn{
  background: #112d4e;
  color:#f9f7f7;
  padding:1rem 2rem;
  border: 1px solid yellow;
  border-radius: 15px;
  display: inline-block;
  margin: 10px;
}

.btn:hover{
  color:#112d4e;
  background: #f9f7f7;
  border: 1px solid #112d4e;
  font-weight: 700;
}

.bottom-container{
  background: #3f72af;
  padding: 50px 0 10px;
}

.footer-link{
  letter-spacing: 0.3rem;
}

.texto_fim{
margin:0;
padding:20px 0 0;
color:#EAF6F6;
font-size: 70%;
line-height: 2;
}


.mountain-img{
  height: 50%;
  width: 50%;
}

.foto_pessoal{
  border-radius: 2rem;
  width: 8rem;
}

.image_skill_01{
  width:25%;
  float:left;
  margin-right: 30px;
}

.image_skill_02{
  width:25%;
  float:right;
  margin-left: 30px;
}
